/* Style de base */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f8; /* Couleur de fond légèrement bleutée */
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* En-tête */
/* En-tête avec flexbox pour alignement vertical */
/* En-tête avec flexbox pour alignement vertical */
header {
    background-color: #fff;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Style du logo pour le rendre rond */
.logo {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100px;
    border-radius: 50%;
}

/* Conteneur pour le titre et la description */
.header-content {
    text-align: center;
}

/* Styles pour le titre et la description */
header h1 {
    margin: 0;
    color: #333;
}

header p {
    color: #666;
    font-style: italic;
}


/* Barre de filtre */
.filter-bar {
    background-color: #e2e2e2; /* Couleur de fond pour la barre de filtre */
    padding: 1em;
    text-align: center;
}

.filter-bar label, .filter-bar select {
    margin: 0 5px;
}

/* Liste des produits en grille avec Flexbox */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
}

/* Cartes de produits */
.product {
    background-color: #ffffff;
    border-radius: 8px; /* Coins arrondis */
    border: 1px solid #ccc;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
    flex-basis: calc(20% - 2em);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 10vw;
    margin-bottom: 0.5em;
}

.product h2 {
    margin: 0.5em 0;
    color: #333;
}

.product p {
    color: #666;
}

/* Pied de page */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

footer p {
    margin: 0;
}

/* Médias queries pour la réactivité */
@media (max-width: 768px) {
    .product {
        flex-basis: calc(50% - 2em);
    }
}

@media (max-width: 480px) {
    .product {
        flex-basis: 100%;
    }

    .filter-bar select {
        width: 100%;
    }
}
